---

import DownloadButton from "@components/DownloadButton.astro";
---

<div class="hero min-h-screen bg-trancperent">
    <div class="hero-content flex-col lg:flex-row">
      <div class="max-w-sm rounded-lg shadow-2xl" >
        <dotlottie-player src="https://lottie.host/70a3ec38-5d51-4426-a103-91c6b23f0ad4/uVYBuDmCCm.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player></div>
      <div>
        <h1 class="text-5xl font-bold">Box Office News!</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <DownloadButton/>
      </div>
    </div>
  </div>