---

---

<div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <!-- Page content here -->
      <label for="my-drawer" class="btn btn-ghost drawer-button">Open drawer</label>
    </div> 
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
        <!-- Sidebar content here -->
        <div class="avatar items-center p-10">
          <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            <img src="../../assets/png/logo-no-background.png" />
          </div>
        </div>
        <li><button class="btn btn-block">block</button></li>
        <li><button class="btn btn-block">block</button></li>
        <li><button class="btn btn-block">block</button></li>
        <li><button class="btn btn-block">block</button></li>
        <li><button class="btn btn-block">block</button></li>
        <li><button class="btn btn-block">block</button></li>
        
      </ul>
    </div>
  </div>