---
import { Dropdown as DropdownContainer, DropdownItems } from "astro-navbar";
const { title, lastItem, children } = Astro.props;
---

<li class="relative">
    <DropdownContainer class="group">
        <div class="dropdown">
            <button tabindex="0" class="btn btn-circle btn-ghost">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h7"></path></svg
                >
            </button>

            <DropdownItems>
                <ul tabindex="0">
                    <div
                        class:list={[
                            "menu dropdown-content rounded-box z-[1] w-52 bg-base-100 p-2 shadow",
                            lastItem
                                ? "origin-top-right lg:right-0"
                                : "origin-top-left lg:left-0",
                        ]}
                    >
                        <li>
                            {
                                children.map((item) => (
                                    <a href={item.path} class="py-1">
                                        {item.title}
                                    </a>
                                ))
                            }
                        </li>
                    </div>
                </ul>
            </DropdownItems>
        </div>
    </DropdownContainer>
</li>
