---

---

<div class="join">
    <input
        class="btn join-item"
        type="radio"
        name="options"
        aria-label="Radio 1"
    />
    <input
        class="btn join-item"
        type="radio"
        name="options"
        aria-label="Radio 2"
    />
    <input
        class="btn join-item"
        type="radio"
        name="options"
        aria-label="Radio 3"
    />
</div>
