---
///responsive (vertical on small screen, horizontal on large screen)
---

<ul class="steps steps-vertical lg:steps-horizontal">
    <li data-content="1" class="step step-accepted">Receive Registration</li>
    <li data-content="?" class="step step-primary">Register</li>
    <li data-content="★" class="step step-primary">Choose plan</li>
    <li data-content="✓" class="step">Purchase</li>
    <li data-content="●" class="step">Receive Product</li>
  </ul>